

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
  display: flex;
}

/* dark 2 */
.text-gray{
  color: #424242;
}

.btn-color{
  color: #FF900E;
}

/* dark 3 */
.text-light-gray{
  color: #727272;
}

.bg-light{
  background-color: #FFF4E6;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;
}

.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* .banner-contant */


.banner-contant{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}


.btn-primary{
  color: #FFFFFF;
    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}


main{
  max-width: 1440px;
  margin: 0 auto;
}

main section{
  margin-top: 130px;

}
/* responivr */

.banner-img{
  width: 100%;
}

.teams{
  align-items: center;
}

.left-teams{
  display: grid;
   grid-template-columns:repeat( 2, 1fr);
   gap: 26px;
}

.right-teams{
  margin-left: 130px;
  max-width: 530px;
}



#a1{
font-weight: 500;
}

/* card section */

.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: ;
}

.fact-description{
  max-width: 540px;
}
.fact-name{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 10px;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .navbar, .nav-link, .teams{
    flex-direction: column;
  }

  .left-teams, .facts-container, .sponsor-companies{
    grid-template-columns: repeat 1fr;
  }

  .facts-container{
    justify-items: center;
    gap: 24px;
  }

.sponsor-companies{
  justify-content: center;
  gap55px
}
  .right-teams{
    margin-left: 21px;
  }
  
}

.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}


.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}

.sponsor-companies img{
  filter: grayscale(100%);
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams{
    flex-direction: column;
  }
  .right-teams{
    margin-left: 41px auto;
  }

}