

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
  display: flex;
}

/* dark 2 */
.text-gray{
  color: #424242;
}

.btn-color{
  color: #FF900E;
}

/* dark 3 */
.text-light-gray{
  color: #727272;
}

.bg-light{
  background-color: #FFF4E6;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;
}

.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* .banner-contant */


.banner-contant{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}


.btn-primary{
  color: #FFFFFF;
    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}


main{
  max-width: 1440px;
  margin: 0 auto;
}

main section{
  margin-top: 130px;

}
/* responivr */

.banner-img{
  width: 100%;
}

.teams{
  align-items: center;
}

.left-teams{
  display: grid;
   grid-template-columns:repeat( 2, 1fr);
   gap: 26px;
}

.right-teams{
  margin-left: 130px;
  max-width: 530px;
}

.feature-title{
  font-size: 2.8rem;
  font-weight: 700;
}

#a1{
font-weight: 500;
}

@media screen and (max-width: 576px) {
  .navbar, .nav-link, .teams{
    flex-direction: column;
  }

  .left-teams{
    grid-template-columns: repeat(1, 1fr);
  }
  .right-teams{
    margin-left: 21px;
  }
  
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams{
    flex-direction: column;
  }
  .right-teams{
    margin-left: 41px auto;
  }

}